<footer class="bg-base-200 text-base-content" role="contentinfo">
  <div class="container mx-auto text-center text-sm p-4">
    <nav class="flex justify-center space-x-4 mb-4" aria-label="Footer navigation">
      <ul class="flex space-x-4">
        {% for link in site.footerLinks %}
          <li>
            <a href="{{ link.url }}" class="link link-hover">
              {% if link.title == "RSS Feed" %}
                <i class="fas fa-rss"></i> 
              {% endif %}
              {{ link.title }}
            </a>
          </li>
          {% if not loop.last %}
            <span aria-hidden="true">|</span>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <p>&copy; {% currentYear %} {{ site.name }}. All rights reserved.</p>
  </div>
</footer>